/* Custom Stylesheet */
/*Nav Style*/
.nameTitle{
  font-family: Dancing Script
}

/* Home page profile picture */
.pic2{
  margin-top:15px;
  height: 300px;
  width:390px;
  border-radius: 10px;
}

/* Navbar */
nav ul {
  text-align: center;
}
nav ul li {
  display: inline;
  float: none;
}
nav ul li a {
  display: inline-block;
}

/* High point icon style */
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/* Connect icon list style */

ul.connectList  {
  text-align: center;
}

ul.connectList  li{
  display: inline;
  float: none;
}

ul.connectList li a {
  display: inline-block;
}


/* Connect Images */
#github{
  height:53px;
  margin-top:2px; 
}

#linkedin {
  height: 58px;  
}

#twitter {
  height: 58px;
}

/* Body Style */
body{
  background:white
}

/* Mobile Nav */
.mobileText{
  color:white;
  font: 25px;
}