/* Custom Stylesheet */
/*Nav Style*/
.nameTitle{
  font-family: Dancing Script
}

.pic2{
  margin-top:15px;
  height: 300px;
  width:390px;
  border-radius: 10px;
}

nav ul {
  text-align: center;
}
nav ul li {
  display: inline;
  float: none;
}
nav ul li a {
  display: inline-block;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#github{
  height:53px;
  margin-top:2px; 
}

#linkedin {
  height: 55px;  
}

body{
  background:white
}

.mobileText{
  color:white;
  font: 25px;
}